{
  "extends": "eslint:recommended",
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "array-bracket-spacing": [
      "error",
      "always"
    ]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "Map": true
  }
}
